.TodoInputForm {
  display: inline-flex;
  flex-direction: row;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(54, 44, 46);
  width: 400px;
  height: 80px;
  font-size: 14px;

  .Column {
    display: flex;
    flex-direction: column;
  }

  .FixedWidth {
    flex: 0 0 30px;
  }

  input[type=text], textarea {
    padding-bottom: 5px;
    width: 365px;
    border: 0px none;
    background-color: rgb(54, 44, 46);
    font-family: Arial;
    color: #fff;

    &::placeholder {
      color: rgb(134, 128, 130);
    }
  }
}
